__pycache__/
*.py[cod]
*$py.class

venv/
env/
.env
.venv

*.pth
*.pt
*.ckpt
*.h5
runs/
logs/
wandb/

data/
dataset/
images/
*.dcm
*.nii
*.nii.gz
*.mha
*.png
*.jpg
*.jpeg

.vscode/
.idea/
.DS_Store
Thumbs.db

.ipynb_checkpoints/